<%= render partial: 'header' %>
<div class = "wrapper">
  <div class = "description">
    <%# <img class = "description__image" src="https://publicdomainq.net/images/201809/17s/publicdomainq-0026387urv.jpg" height="70%" width="70%" alt="image"> %>
    <div class = "description__text">
      <p>
        テニスがしたいけど、近くに仲間やコートがない方や同じぐらいの年代やスキルレベルのメンバーを集めて<br>
        試合がしたい方をマッチングさせるためのオンラインサービスです。会員登録の際、自分の経歴やスキル<br>
        レベルなどを登録していただくので、目的に従ったマッチングが可能となっております。<br>
        ぜひお試しください！
      </p>
    </div>
  </div>
  <div class="new-tennis">
    <div class="new-tennis__container">
      <div class="new-tennis__container__heading">
        <h3>新着開催テニス</h3>
      </div>
      <% @new_tennis.each do |post| %> 
        <%= render 'post_box', post: post %> 
      <% end %>    
    </div>
  </div>
  <div class="local-tennis">
    <div class="local-tennis__container">
      <div class="local-tennis__container__heading">
        <h3>東京開催テニス</h3>
      </div>
      <% @tokyo_tennis.each do |post| %> 
        <%= render 'post_box', post: post %> 
      <% end %>
    </div>
  </div>
  <%= pie_chart @data %>
  <h1><%= current_user.nickname %>さんのスキルセット</h1>
  <canvas id="myRaderChart"></canvas>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> %>
  <script>
    var ctx = document.getElementById("myRaderChart");
    var c_u_serve = gon.current_user_serve;
    var myRadarChart = new Chart(ctx, {
        type: 'radar', 
        data: { 
            labels: ["サービス", "リターン", "ストローク", "フットワーク", "メンタル","コミュ力"],
            datasets: [{
                label: gon.current_user_nickname,
                data: [ gon.current_user_serve,
                        gon.current_user_return,
                        gon.current_user_stroke,
                        gon.current_user_footwork,
                        gon.current_user_mental,
                        gon.current_user_communication
                        ],
                backgroundColor: 'RGBA(225,95,150, 0.5)',
                borderColor: 'RGBA(225,95,150, 1)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(46,106,177)'
            }]
        },
        options: {
            title: {
                // display: true,
                // text: '試験成績'
            },
            scale:{
                ticks:{
                    suggestedMin: 0,
                    suggestedMax: 10,
                    stepSize: 1,
                    callback: function(value, index, values){
                        return  value 
                    }
                }
            }
        }
    });
    </script>

</div>